<div class="header">
    <h1>
        <a href="/" title="The Annotator Homepage">Annotator</a>
    </h1>
    <nav>
    <ul>
        <li><a href="http://github.com/openannotation/annotator/" title="Check out the repository">Code</a></li>
        <li><a href="http://docs.annotatorjs.org" title="Read the docs">Docs</a></li>
        <li><a href="../showcase.html" title="See who's using Annotator.">Showcase</a></li>
        <li><a href="../plugins/index.html">Plugins</a></li>
        <li><a href="../news/">News</a></li>
    </ul>
    </nav>
</div>
